
HuPurchaseTool/bin/Debug/HuFile.txt
HuPurchaseTool/bin/Debug/HuPurchaseTool.exe.config
HuPurchaseTool/bin/Debug/HuPurchaseTool.pdb
HuPurchaseTool/bin/Debug/HuPurchaseTool.vshost.exe
HuPurchaseTool/bin/Debug/HuPurchaseTool.vshost.exe.config
HuPurchaseTool/bin/Debug/HuPurchaseTool.vshost.exe.manifest
HuPurchaseTool/HuPurchaseTool.csproj.user
HuPurchaseTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
HuPurchaseTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HuPurchaseTool/obj/Debug/HuPurchaseTool.csproj.FileListAbsolute.txt
HuPurchaseTool/obj/Debug/HuPurchaseTool.csproj.GenerateResource.Cache
HuPurchaseTool/obj/Debug/HuPurchaseTool.csprojResolveAssemblyReference.cache
HuPurchaseTool/obj/Debug/HuPurchaseTool.exe
HuPurchaseTool/obj/Debug/HuPurchaseTool.frmLogin.resources
HuPurchaseTool/obj/Debug/HuPurchaseTool.frmPurchase.resources
HuPurchaseTool/obj/Debug/HuPurchaseTool.pdb
HuPurchaseTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HuPurchaseTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HuPurchaseTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
